@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row text-center">
        <div style="height 200px; border: 1px solid black; margin-top: 12%;">
            <h1 class="display-4">Prova Prática - UCDB</h1>
            <p class="lead">
                CRUD para cadastrar pedidos de pagamento para produtos.
            </p>
        </div>        
    </div>
</div>
